.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.card {
  background-color: rgb(203, 203, 203);
  padding: 10px;
  margin: 10px;
}